.apple-logo {
    width: 200px;
    display: block;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
#szöveg{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
    text-align: justify;
    font-size: x-large;
}
#menu{
    font-size: large;
}
h2{
        margin-bottom: 30px;
        text-align: center;
}
footer {
    background-color: #464646;
    padding: 10px;
    color: white;
    margin-top: 50px;
}

input,select{
font-weight: bold;
border-radius: 5px; 
width: 80px;
font-size: 18px;
color:#464646;   
}
#szektor{
  width: 200px;  
}
.bal{
    float: left;
    width: 350px;
}
.gomb{
    font-weight: bold;
border-radius: 5px; 
width: 200px;
font-size: 18px;
color:#464646; 
}
.megjelenit{
    display:inline-block;
}
#cim{
    font-size: xx-large;
    font-weight: bold;
}
#alap{
    margin-left: 100px;
}
#applevision{
    margin-right: auto;
}
table, th, td{
    border: 1px solid black ;
    text-align: center;
}
a:link{
    background-color: transparent;
    text-decoration: none;
}
#menuid{
    font-size: large;
}
